.main{
    margin: 0px 33px;
}

.home_c {
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 21px;
}

.home_c p {
    margin-top: 13px;
    font-size: 14px;
}

.sc {
    width: 100%;
}

.statment {
    margin: auto;
    max-width: 500px;
    font-size: 15px;
    text-align: justify;
    line-height: 21px;
}

.p1 {
    text-indent: 2em;
}

.pa {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 33px;
}

@media screen and (min-width: 640px) {

    .main {
        margin: 0 68px;
    }
}